<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    @DateTime.Today.ToLongDateString()
    <div class="container">
        <div class="jumbotron">
            @RenderSection("Banner")
        </div>
    </div>
    @RenderSection("banner")
    @RenderBody()
    @RenderSection("Footer", required: false)
</body>
</html>
